html { 
	background: url(../img/bg.jpg) center center no-repeat fixed;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}


@font-face {
  font-family: myFont;
  src: url(../font/9540.ttf);
}

.container {
	min-width: 320px;
	height: 100vh; 
	}



.poem {
	margin-top: 100px;
	font-size: 2.4rem;
	line-height: 1.5;
	font-family: myFont, Arial, serif;
	color: #474546;
	font-weight: bold;
}

.butterfly {
	opacity: 0;
	animation: opacity 3s ease-in forwards;
}

.butterfly--1, 
.butterfly--2,
.butterfly--3 {
	display: none;
	position: absolute;
}

.poem__string {
	opacity: 0;
	text-align: center;
	text-shadow: 4px 2px 15px rgba(255, 255, 255, 1);
	animation: opacity 3s ease-in forwards;
}

.poem__string--1:hover, 
.poem__string--8:hover{
	color: red;
}

.poem__string--2:hover {
	color: orange;
}

.poem__string--3:hover {
	color: #CCAD0D;
}

.poem__string--4:hover {
	color: green;
}

.poem__string--5:hover {
	color: deepskyblue;
}

.poem__string--6:hover {
	color: blue;
}

.poem__string--7:hover {
	color: blueviolet;
}


.poem__string--1 {
	animation-delay: 0s;
}

.poem__string--2 {
	animation-delay: 2s;
}

.poem__string--3 {
	animation-delay: 4s;
}

.poem__string--4 {
	animation-delay: 6s;
}

.poem__string--5 {
	animation-delay: 8s;
}

.poem__string--6 {
	animation-delay: 10s;
}

.poem__string--7 {
	animation-delay: 12s;
}

.poem__string--8 {
	animation-delay: 14s;
}

.butterfly {
	animation-delay: 16s;
}

@keyframes opacity {
	from {
    	opacity: 0;
    }
	to {
		opacity: 1;
    }
}

.player {
	position: absolute;
	top: 10px;
	right: 10px;
}


@media (max-width: 1200px) {
	.poem {
		font-size: 1.9rem;
	}

	.butterfly--2 {
		display: block;
		top: 500px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

@media (max-width: 480px) {
	.poem {
		font-size: 1.3rem;
	}

	.butterfly--2 {
		display: block;
		top: 370px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}


@media (min-width: 1200px) {

	.container {
		position: relative;
		min-height: 800px;
	}

	.poem {
		margin-top: 0;
		font-size: 2.4rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.butterfly--1 {
		display: block;
		top: -110px;                         
		left: -9%; 
	}

	.butterfly--2 {
		display: block;
		top: 18%;                         
		left: 100%; 
	}

	.butterfly--3 {
		display: block;
		top: 53%;                         
		left: -33%; 
	}
}
